@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*===///
    font-family: "Fira Sans", serif;
     font-weight: 100;
     font-style: normal;
////===*/
*{
    margin:0px;
    padding: 0px;
}
body{
    font-family: "Fira Sans", serif;
    background-color: #F5F5F5;
}
.header{
    width: 1280px;
    margin: 0 auto;
}
.main{
    background-color: #F5F5F5;
    width: 1280px;
    margin: 0px auto;
    padding-bottom: 1px;
    margin-bottom: 80px;
}
/*==///--Manu Style--///==*/
.header .logo .head-logo{
    font-size: 32px;
    font-weight: 700;
    color: rgb(243 2 0);
}
.header nav{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.header .head-btn .btn1{
    width: 116px;
    height: 52px;
    border: 1px solid #006A50;
    border-radius: 5px;
    transition: all 0.5s ease;
}
.header .head-btn .btn1:hover{
    background-color:rgb(252, 249, 249) ;
}
.header .head-btn a{
    text-decoration: none;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
}
/*==///--Banner section style--///==*/
.header .header-banner{
    background-color: #C6E4D6;
    height: 350px;
    padding: 100px;
    border-radius: 10px;
}
.header-banner .banner-info{
    width: 622px;
}
.header .header-banner .banner-title{
    font-size:24px;
    font-weight: 500;
    color: #0E0E0E80;
    margin-bottom:16px ;
}
.header .header-banner .banner-discription{
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.header-banner .banner-info .banner-btn .btn2{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgb(53 130 95 / 57%);
    transition: all 0.3s ease 0s;
}
.header-banner .banner-info .banner-btn .btn2:hover{
    background-color: #f30200;
    box-shadow: 0px 15px 20px rgb(243 2 0 / 28%);
    color: #fff;
    transform: translateY(-7px);
}
.header-banner .banner-info .banner-btn a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
}
.banner-img .indipendent-img{
    position: relative;
}
.banner-img .indipendent-img img{
    position: absolute;
    margin-top: -33%;
    margin-left: 60%;
}
/*==///--Pillars of Bangladesh style---///==*/
.Pillars-Bangladesh{
    margin: 80px 0px;
}
.Pillars-Bangladesh-content .pillars-info .pillars-title{
    font-size: 40px;
    font-weight: bold;
    color: rgb(207 143 0);
    margin-bottom: 32px;
}
.pillars-box .plillar-img{
    margin-bottom: 24px;
}
.pillars-box .img-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 12px;
}
.pillars-box{
    width: 302px;
    padding: 24px 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
    transition: all 0.5s ease;
}
.plillar-box-wrap .pillars-box:hover{
    background-color: rgba(150, 182, 34, 0.144);
}
.pillars-box .img-discription{
    font-size: 16px;
    color: #0E0E0E;
    width: 254px;
}
.plillar-box-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
/*====////--Vision-Future style--/////====*/
.Vision-Future{
    margin-top: 80px;
    margin-bottom: 32px;
}
.vision-info .vision-title{
    font-size: 40px;
    font-weight: bold;
    color: #09a15c;
    margin-bottom: 24px;
}
.vision-info .vision-discription{
    font-size: 16px;
    color: #0e0e0ec2;
    margin-bottom: 32px;
    line-height: 24px;
}
.vision-box-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
.vision-box-wrap .vision-box{
    width: 410px;
    background: #D5E1F5;
    padding: 32px;
    border-radius: 10px;
}
.vision-box .vision-img{
    margin-bottom: 24px;
}
.vision-box .v-img-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom:12px;
}
.vision-box .v-img-discription{
    width: 346px;
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 24px;
    line-height: 24px;
}
.vision-box .vision1-btn3{
    width: 122px;
    height: 41px;
    background-color: #5490F5;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.vision-box .vision1-btn3:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.vision-box .vision1-btn3 a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.vision-box .vision2-btn3{
    width: 122px;
    height: 41px;
    background-color: #09A15C;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.vision-box .vision2-btn3:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.vision-box .vision2-btn3 a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.vision-box .vision3-btn3{
    width: 122px;
    height: 41px;
    background-color: #FFC239;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.vision-box .vision3-btn3:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.vision-box .vision3-btn3 a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
.vision-box-wrap .v-box-color2{
    background-color:#C6E4D6;
}
.vision-box-wrap .v-box-color3{
    background-color:#F7EBCF;
}
/*=====///--Yunus About Style--///=======*/
.yunus-about-content{
    padding: 48px 24px;
    margin-bottom: 80px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    background: url("../images/quote-bg.png"),#FFFFFF;
    background-repeat: no-repeat;
    background-position: 2% 11%;
}
.yunus-info .about-discrption{
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom:12px;
    line-height: 24px;
}
.yunus-info .yunus-title{
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 5px;
}
.yunus-info .yunus-position{
    font-size: 16px;
    color: #0E0E0E;
}
/*==///-----Opinion Matters style-----///==*/
.Opinion-Matters{
    margin: 80px 0px;
}
.opinion-matters-content .opinion-title{
    font-size: 48px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom:24px;
}
.opinion-table{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 32px;
}
.opinion-table .from-text{
    font-size: 16px;
}
.opinion-table .form-btn .select{
    border: none;
    padding: 15px 5px;
    background-color: #C6E4D6;
    border-radius: 8px;
}
.opinion-table .form-btn{
    border-radius: 8px;
    border: 1px solid #000000cf;
}
.opinion-table .table-head-color{
    background-color: #C6E4D6;
}
.opinion-table table{
    width: 1216px;
    margin: 0 auto;

}
.opinion-table table,th{
    border-collapse: collapse;
    padding: 30px 20px;
}
.opinion-table table,tr,td{
    border: 1px solid #DBDBDB;
    border-collapse: collapse;
    padding: 30px 20px;
}
.que-left{
    text-align: left;
}
/*===////---Recent News style-----////==*/
.Recent-News{
    margin-bottom: 80px;
}
.new-info .news-title{
    font-size: 40px;
    font-weight: bold;
    color: #006a50;
    margin-bottom: 24px;
}
.new-info .news-discription{
    font-size: 16px;
    color: #0e0e0ec2;
    margin-bottom: 32px;
    line-height: 24px;
}
.news-box{
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 48px;
    background: white;
    border-radius: 10px;
    margin-bottom: 24px;
}
.news-box .news-img img{
    width: 408px;
    height: 306px;
    border-radius: 20px;
}
.news-img-info .img-news-title{
    font-size: 32px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom:12px;
}
.news-img-info .news-logo img{
    margin-bottom: 12px;
}
.news-img-info .news-date{
    font-size: 16px;
    margin-bottom: 12px;
    color: #0E0E0E;
}
.news-img-info .img-news-description{
    font-size: 16px;
    color: #0E0E0E;
    line-height:24px;
    margin-bottom:32px;
}
.news-img-info .news-btn .news-btn4{
    width: 140px;
    height: 48px;
    background-color: #006A50;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.news-img-info .news-btn .news-btn4:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.news-img-info .news-btn .news-btn4 a{
    text-decoration: none;
    font-weight: 18px;
    color: #FFFFFF;
    font-weight:bold;
}
/*===///--Donate Today style---////==*/
.Donate-Today{
    margin-bottom: 80px;
}
.donate-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.donate-info .donate-title{
    font-size: 40px;
    font-weight: bold;
    color: #ff0000;
    margin-bottom: 24px;
}
.donate-info .donate-discription{
    font-size: 16px;
    color: #0e0e0eaf;
    line-height:24px;
    margin-bottom:32px;
    text-align: center;
}
.donate-btn-wrap{
    width: 1070px;
    display: flex;
    justify-content: space-around;
    gap: 24px;
    margin: 0 auto;
    margin-bottom: 32px;
}
.donate-btn .donate-btn5{
    width: 240px;
    height: 110px;
    border: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    border-radius: 20px;
    transition: all 0.4s ease;
}
.donate-btn .donate-btn5:hover{
    background-color: #C6E4D6;
}
.donate-btn .active{
    background-color: #C6E4D6;
}
.donate-btn .donate-btn5 a{
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
}
.donate-form{}
.donate-form input[type="number"]{
    width: 1032px;
    height: 64px;
    margin: 0 auto;
    display: flex;
    font-size: 20px;
    text-align: center;
    color: #0E0E0E;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid #DBDBDB;
    margin-bottom: 32px;
    border-radius: 5px;
}
.form-btn6 .f-btn6{
    width: 151px;
    height: 56px;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    border:none;
    border-radius: 10px;
    background-color: #006A50;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
}
.form-btn6 .f-btn6:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
.form-btn6 .f-btn6 a{
    text-decoration: none;
    font-size: 18px;
    color: #FFFFFF;
}
/*==///--Subscribe style--////===*/
.Subscribe{
    background-color: #C6E4D6;
    padding: 80px 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    border-radius: 10px;
}
.subcribe-content{
    width: 750px;
}
.subcribe-info{
    text-align: center;
}
.subcribe-info .subcribe-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom:16px;
}
.subcribe-info .subcribe-discription{
    font-size: 18px;
    line-height: 24px;
    color: #414141;
    margin-bottom:24px;
}
.subcribe-form input[type="email"]{
    width: 560px;
    height: 55px;
    border: none;
    padding-left: 40px;
    font-size: 16px;
    border-radius: 5px 0px 0px 5px;
}
.subcribe-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.subcribe-btn{}
.subcribe-btn .email-btn{
    width: 150px;
    height: 55px;
    border: none;
    border: 0px 51px 5px 5px;
    border-radius: 0px 5px 5px 0px;
    background-color: #006A50;
}
.subcribe-btn .email-btn a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
}
.subcribe-content .email-discription{
    font-size: 16px;
    text-align: center;
    color: #0e0e0e9e;
}
/*===///--Footer style--///===*/
.footer{
    background-color: #FFFFFF;
    padding: 100px 0px;
}
.footer-content{
    width: 1122px;
    margin: 0 auto;
}
.footer-content .footer-title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
    font-weight: bold;
    color: red;
}
.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 32px;
    margin-bottom: 50px;
}