@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*===///
    font-family: "Fira Sans", serif;
     font-weight: 100;
     font-style: normal;
////===*/
*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #F5F5F5;
    font-family: "Fira Sans", serif;
}
.header{
    width: 1280px;
    margin: 0 auto;
}
.main{
    width: 1280px;
    margin: 0px auto;
}
/*==///--Manu Style--///==*/
.header .logo .head-logo{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    color: #0E0E0E;
}
.header nav{
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.header .head-btn .btn1{
    width: 116px;
    height: 52px;
    border: 1px solid #006A50;
    border-radius: 5px;
}
.header .head-btn .btn1:hover{
    background-color:rgb(233, 230, 230) ;
}
.header .head-btn a{
    text-decoration: none;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
}
/*==///--Banner section style--///==*/
.header .header-banner{
    background-color: #C6E4D6;
    height: 350px;
    padding: 100px;
    border-radius: 10px;
}
.header-banner .banner-info{
    width: 622px;
}
.header .header-banner .banner-title{
    font-family: "Fira Sans", serif;
    font-size:24px;
    font-weight: 500;
    color: #0E0E0E80;
    margin-bottom:16px ;
}
.header .header-banner .banner-discription{
    font-family: "Fira Sans", serif;
    font-size: 56px;
    font-weight: 700;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.header-banner .banner-info .banner-btn{}
.header-banner .banner-info .banner-btn .btn2{
    width: 270px;
    height: 56px;
    background-color: #006A50;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgb(53 130 95 / 57%);
    transition: all 0.3s ease 0s;
}
.header-banner .banner-info .banner-btn .btn2:hover{
    background-color: #f30200;
    box-shadow: 0px 15px 20px rgb(243 2 0 / 28%);
    color: #fff;
    transform: translateY(-7px);
}
.header-banner .banner-info .banner-btn a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
}
.banner-img .indipendent-img{
    position: relative;
}
.banner-img .indipendent-img img{
    position: absolute;
    margin-top: -33%;
    margin-left: 60%;
}
/*==///--Pillars of Bangladesh style---///==*/
.Pillars-Bangladesh{
    margin: 80px 0px;
}
.Pillars-Bangladesh-content .pillars-info .pillars-title{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold; 
    color: #0E0E0E;
    margin-bottom:32px ;
}
.pillars-box .plillar-img{
    margin-bottom: 24px;
}
.pillars-box .img-title{
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 12px;
}
.pillars-box{
    width: 302px;
    padding: 24px 24px;
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 1px solid #DBDBDB;
}
.pillars-box .img-discription{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: #0E0E0E;
    width: 254px;
}
.plillar-box-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
/*====////--Vision-Future style--/////====*/
.Vision-Future{
    margin-top: 80px;
    margin-bottom: 32px;
}
.vision-info{}
.vision-info .vision-title{
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.vision-info .vision-discription{
    font-family: "Fira Sans", serif;
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom:32px;
}
.vision-box-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
}
.vision-box-wrap .vision-box{
    width: 410px;
    background: #D5E1F5;
    padding: 32px;
    border-radius: 10px;
}

.vision-box .vision-img{
    margin-bottom: 24px;
}
.vision-box .v-img-title{
    font-size: 20px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom:12px;
}
.vision-box .v-img-discription{
    width: 346px;
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom: 24px;
    line-height: 24px;
}
.vision-box .vision-btn3{
    width: 122px;
    height: 41px;
    background-color: #5490F5;
    border: none;
    border-radius: 10px;
}
.vision-box .vision-btn3 a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
}
/*=====///--Vision-Future Style--///=======*/
.yunus-about-content{
    padding: 48px 24px;
    margin-bottom: 80px;
    border: 1px solid #DBDBDB;
    border-radius: 10px;
    background: url("../images/quote-bg.png"),#FFFFFF;
    background-repeat: no-repeat;
    background-position: 2% 11%;
}
.yunus-info .about-discrption{
    font-size: 16px;
    color: #0E0E0E;
    margin-bottom:12px;
    line-height: 24px;
}
.yunus-info .yunus-title{
    font-size: 20px;
    color: #0E0E0E;
    margin-bottom: 5px;
}
.yunus-info .yunus-position{
    font-size: 16px;
    color: #0E0E0E;
}
/*==///-----Opinion Matters style-----///==*/
.Opinion-Matters{
    margin: 80px 0px;
}
.opinion-matters-content .opinion-title{
    font-size: 48px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom:24px;
}
.opinion-table{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 32px;
}
.opinion-table .from-text{
    font-size: 16px;
}
.opinion-table .form-btn .select{
    border: none;
    padding: 15px 5px;
    background-color: #C6E4D6;
    border-radius: 5px;
}
.opinion-table .form-btn{
    border-radius: 8px;
}
.opinion-table .table-head-color{
    background-color: #C6E4D6;
}
.opinion-table table{
    width: 1216px;
    margin: 0 auto;

}
.opinion-table table,th{
    border-collapse: collapse;
    padding: 30px 20px;
}
.opinion-table table,tr,td{
    border: 1px solid #DBDBDB;
    border-collapse: collapse;
    padding: 30px 20px;
}
.que-left{
    text-align: left;
}